@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  text-rendering: geometricPrecision;
}

html {
  background-color: #0C0E13;
  color: #fff;
}

// TODO: Image Background
// TODO: Mobile Grid
// TODO: Desktop Grid
// TODO: Link component styles
// TODO: Desktop First media query

