@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

* {
  font-family: "Inter", sans-serif;
  text-rendering: geometricPrecision;
}

html {
  @apply text-foreground bg-darkBackground;
  height: -webkit-fill-available;
  scroll-behavior: smooth;
}

body,
.min-h-hack,
#__nuxt {
  height: -webkit-fill-available;
}

// TODO: Mobile Grid
// TODO: Link component styles
// TODO: Desktop First media query
